{% extends "base.html" %}
{% block content %}
<div id="home-content">
<p>
The Chicago Childcare Collective (ChiChiCo) is a group of volunteers who support the participation of parents, especially mothers, in racial and economic justice work. The collective matches volunteers with community organizations across the city to have fun with kids while their parents participate in and lead organizing efforts to defend their rights and build a better Chicago.
</p>
<p>
<img class="home_image" src="/media/amc1.jpg">
<img class="home_image" src="/media/amc2.jpg">
</p>
</div>
{% endblock %}
