{% extends "base.html" %}
{% block content %}
<div id="press-content">
<h2>ChiChiCo in the Press</h2>
<p>
<ul>
<li><a href="http://areachicago.org/chichico/">Area Chicago</a></li>
<li><a href="http://www.utne.com/Politics/Radical-Childcare-Collectives-Social-Justice.aspx">UTNE Reader</a></li>
<li><a href="http://areachicago.org/c-is-for-civil-rights-childrens-social-justice-book-club/">“C is for Civil Rights” Children’s Social Justice Book Club</a></li>
<li><a href="http://areachicago.org/introducing-the-chicago-radical-coloring-book/">Introducing… the Chicago Radical Coloring Book</a></li>
<li><a href="http://www.examiner.com/article/chicago-childcare-collective-to-offer-services-outside-chicago">Chicago Childcare Collective to offer services outside Chicago</a></li>
</ul>
</p>
</div>
{% endblock %}
